/* Colors used: 
orange: #EE6C4D
dark blue: #293241
light blue: #E0FBFC
white-ish: #edf2f4

fonts:
headings - 
font-family: 'Acme', sans-serif;
p-
font-family: 'Noto Serif', serif;

*/

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #293241;
  color: white;
}

header {
  font-family: 'Acme', sans-serif;
  display: block;
  text-align: center;
}

/* list */
ul.todo-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
}

div.todo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* form */

input.todo-input {
  line-height: 1.5;
  font-size: 18px;
}

/* buttons */

button.trash-btn {
  width: 20px;
  height: 20px;
  padding: 2px;
  background-color: #293241;
}

button.restore-btn {
  width: 20px;
  height: 20px;
  padding: 2px;
  background-color: #ee6c4d;
}

button.complete-btn {
  width: 20px;
  height: 20px;
  padding: 2px;
  background-color: #e0fbfc;
}

button.todo-button {
  width: 30px;
  height: 30px;
  padding: 2px;
  background-color: #e0fbfc;
}
